#!/usr/bin/make -f

# Comment this to turn off verbose mode.
# export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

# hacks to avoid running these things during the build
export ACLOCAL    = : aclocal
export AUTOCONF   = : autoconf
export AUTOMAKE   = : automake
export AUTOHEADER = : autoheader

config: patch config.status
config.status: $(QUILT_STAMPFN)
	dh_testdir

	chmod a+x configure

	./configure --prefix=/usr \
		--enable-all-clocks --enable-parse-clocks --enable-SHM \
		--disable-debugging --sysconfdir=/var/lib/ntp \
		--disable-errorcache --with-sntp=no \
		--enable-linuxcaps \
		--disable-dependency-tracking

build: config build-stamp
build-stamp: config.status version
	dh_testdir
	$(MAKE)
	touch $@

version: debian/changelog
	dpkg-parsechangelog | sed -ne 's/^Version:[ 	]*//p' >$@

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	-$(MAKE) -i -k distclean

	-test -r /usr/share/misc/config.sub && \
		cp -f /usr/share/misc/config.sub config.sub
	-test -r /usr/share/misc/config.guess && \
		cp -f /usr/share/misc/config.guess config.guess

	rm -f COPYRIGHT version
	dh_clean

install: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install bindir=`pwd`/debian/ntp/usr/sbin prefix=`pwd`/debian/ntp/usr

	# move the user-space programs from /usr/sbin to /usr/bin
	for file in ntpq ntpdc ntptrace; do \
		mv debian/ntp/usr/sbin/$$file debian/ntp/usr/bin/$$file; \
	done

	install -o root -g root -m 755 debian/ntp.ifup \
		debian/ntp/etc/network/if-up.d/ntp
	install -o root -g root -m 0755 scripts/ntpsweep \
		debian/ntp/usr/bin/ntpsweep
	install -o root -g root -m 0755 util/ntp-keygen \
		debian/ntp/usr/sbin/ntp-keygen
	install -o root -g root -m 0644 debian/ntpsweep.1 \
		debian/ntp/usr/share/man/man1/ntpsweep.1
	# hand-craft the manpages since they're all worthless creations...

	install -o root -g root -m 0644 debian/ntpdate.1 \
		debian/ntpdate/usr/share/man/man1/ntpdate.1
	install -o root -g root -m 0644 debian/ntpd.1 \
		debian/ntp/usr/share/man/man1/ntpd.1
	install -o root -g root -m 0644 debian/useless.1 \
		debian/ntp/usr/share/man/man1/ntpdc.1
	install -o root -g root -m 0644 debian/useless.1 \
		debian/ntp/usr/share/man/man1/ntp-keygen.1
	install -o root -g root -m 0644 debian/useless.1 \
		debian/ntp/usr/share/man/man1/ntp-wait.1
	install -o root -g root -m 0644 debian/useless.1 \
		debian/ntp/usr/share/man/man1/ntpq.1
	install -o root -g root -m 0644 debian/useless.1 \
		debian/ntp/usr/share/man/man1/ntptrace.1
	install -o root -g root -m 0644 debian/useless.1 \
		debian/ntp/usr/share/man/man1/tickadj.1
	install -o root -g root -m 0644 debian/useless.1 \
		debian/ntp/usr/share/man/man1/ntptime.1
	install -o root -g root -m 0644 debian/ntp.conf \
		debian/ntp/etc
	install -o root -g root -m 0644 debian/useless.5 \
		debian/ntp/usr/share/man/man5/ntp.conf.5
	install -o root -g root -m 0644 debian/ntpdate.default \
		debian/ntpdate/etc/default/ntpdate
	install -o root -g root -m 0644 debian/ntp.ignore \
		debian/ntp/etc/logcheck/ignore.d.server/ntp
	install -o root -g root -m 0644 debian/ntpdate.ignore \
		debian/ntpdate/etc/logcheck/ignore.d.server/ntpdate

	dh_movefiles --sourcedir=debian/ntp

# Build architecture-independent files here.
binary-indep: build install
#	dh_testversion
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -i html
	rm -f debian/ntp-doc/usr/share/doc/ntp-doc/html/hints/solaris*
	find debian/ntp-doc/usr/share/doc/ntp-doc/html/ -name SCCS -print0 \
		| xargs -0r rm -rf
	rm -f debian/ntp-doc/usr/share/doc/ntp-doc/html/htmlprimer.html
	dh_installexamples -i
	dh_installmenu -i
#	dh_installemacsen -i
#	dh_installinit -i
	dh_installcron -i
	dh_installdebconf -i
#	dh_installmanpages -i ansi2knr.1
#	dh_undocumented
	dh_installchangelogs -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
#	dh_testversion
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installmenu -a
#	dh_installemacsen -a
	dh_installdebconf -a
	dh_installinit -pntp --update-rcd-params="defaults 23" 
	dh_installinit -pntpdate --update-rcd-params="start 51 S ." \
		--init-script=ntpdate
	dh_installcron -a
#	dh_installmanpages -a ansi2knr.1
#	dh_undocumented
	dh_installchangelogs -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
#	dh_makeshlibs -a
	dh_md5sums -a
	dh_builddeb -a

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch clean-patched
